# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.Python
build/
dist/

# Flask
instance/
*.db
*.sqlite
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# Editors
.vscode/
.idea/
*.swp
.DS_Store

# User-uploaded files (jangan commit ke git)
lms lengkap/lms lengkap/static/uploads/skpi/
lms lengkap/lms lengkap/static/uploads/pembayaran/
lms lengkap/lms lengkap/static/uploads/jawaban/
