# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.Python
build/
dist/

# Flask
instance/
*.db
*.sqlite
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# Editors
.vscode/
.idea/
*.swp
.DS_Store
